@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  --back: green;
  overflow: hidden;
  font-family: Roboto;
  background-image: url("https://wallpaperaccess.com/full/813435.jpg");
  background-size: 100vw;
}

#dsc {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 50vh;
  width: 18vw;
}

@media screen and (max-device-width: 1200px) {
  #dsc {
    display: none;
  }
  body {
    margin: auto;
    background-image: url("https://i.pinimg.com/originals/27/ef/87/27ef87edcb32a900491f38f5ec575dc4.jpg");
    background-size: 100%;
  }
  li {
    display: none;
  }
}
