@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  --back: green;
  overflow: hidden;
  font-family: Roboto;
  background-image: url("https://wallpaperaccess.com/full/838293.jpg");
  background-size: 100vw;
}

#dsc {
  position: fixed;
  bottom: 0;
  right: 0;
}
