@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  --back: green;
  overflow: hidden;
  font-family: Poppins;
  background-image: url("https://wallpaperaccess.com/full/838293.jpg");
  background-size: 100vw;
}
