ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.5);
}

li {
  float: left;
}

li a {
  text-decoration: none;
  padding-top: 2vh;
  width: 24.7vw;
  height: 6vh;
  text-align: center;
  display: block;
  color: white;
  font-weight: bold;
  font-size: 1vw;
}

li a:hover {
  background-color: black;
  transition: 0.2s;
}
