@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  font-family: Poppins;
  background-image: url("https://cdna.artstation.com/p/assets/covers/images/031/590/586/large/ivan-cavini-ivan-cavini-new-rivendell.jpg?1604049522");
  background-size: 100vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.5);
}

li {
  float: left;
}

li a {
  text-decoration: none;
  padding: 3vh 20.1vh;
  display: block;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

li a:hover {
  background-color: black;
  transition: 0.2s;
}
