.obramowka {
  overflow: scroll;

  overflow-x: hidden;
  height: 60vh;
  width: 65vw;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  left: 12vw;
  bottom: 10vh;

  padding: 15px;
}

@media screen and (max-device-width: 400px) {
  .obramowka {
    width: 85vw;
    left: 4vw;
  }
}
