.pytanie {
  font-size: 18px;
  border: 4px solid rgba(219, 215, 215, 0.897);
  margin-bottom: 6px;
  padding-left: 13px;
  background: rgb(41, 41, 41);
  font-weight: bold;
  cursor: pointer;
}
p {
  text-decoration: none;
  color: rgb(73, 186, 231);
}

.content {
  overflow: hidden;
  font-size: 15px;
  font-weight: normal;
  color: white;

  margin-right: 15px;
  cursor: initial;
}

#search {
  width: 99.2%;
  height: 30px;

  background: rgb(0, 0, 0, 0.6);
  text-align: center;
  color: white;
}
