.pytanie {
  font-size: 18px;
  border: 4px solid rgba(219, 215, 215, 0.897);
  margin-bottom: 6px;
  padding-left: 13px;
  background: rgb(0, 0, 0, 0.7);
  font-weight: bold;
  cursor: pointer;
}
p {
  text-decoration: none;
  color: rgb(124, 231, 255);
}

.content {
  overflow: hidden;
  font-size: 15px;
  font-weight: normal;
  color: white;

  margin-right: 15px;
  cursor: initial;
}

#search {
  width: 99.2%;
  height: 30px;

  background: rgb(0, 0, 0, 0.6);
  text-align: center;
  font-family: Roboto;
  color: white;
  font-size: 1.1rem;
}

::placeholder {
  color: white;
  opacity: 0.7;
}
