.pytanie {
  font-size: 17px;
  border: 4px solid rgba(219, 215, 215, 0.897);
  margin-bottom: 6px;
  padding-left: 5px;
  background: rgb(0, 0, 0, 0.4);
  font-weight: bold;
}
a {
  text-decoration: none;
  color: rgb(137, 201, 55);
}
