@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  font-family: Poppins;
  background-image: url("https://cdna.artstation.com/p/assets/covers/images/031/590/586/large/ivan-cavini-ivan-cavini-new-rivendell.jpg?1604049522");
  background-size: 100vw;
}
